html {
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body::-webkit-scrollbar {
  display: none;
}


.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.nav 
h1 {
  font-family: 'Poppins', sans-serif;
}
.carrito:hover{
  cursor: pointer;
}
.carrito path:hover{
  fill: goldenrod;
}
.spans {
    color: #0AFB3A;
}



.nav li a{
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
}

.header-left{
  width: 70%;
}

.header-right{
  display: flex;
  justify-content: end;

  a{
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
  }

  img{
    margin-right: 10px;
    cursor: pointer;
  }
}
#navList .txt-decoration {
  text-decoration: none;
  color: #fff;
}

/*Hover*/
.header-right a:hover{
  color: goldenrod;
  transition: 0.5s;
}
.txt-decoration:hover{
  color: goldenrod;
  transition: 0.5s;
}
#navList .txt-decoration:hover {
  color: goldenrod;
  transition: 0.5s;
}


/*Footer*/
footer{
  height: 200px;

  
  h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #fff;
  }

  
}
.formulario{
  margin-top: 20px;
  display: grid;
  place-content: end;

  .form{
    width: 100%;

    button {
      margin-left: 10px;
    }
  }

 
}
p{
  color: #fff;
  font-family: 'Poppins',sans-serif;
  text-align: center;
}