@{
    ViewBag.Title = "Actualizar usuario";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="~/css/actualizarUsuario.css" asp-append-version="true" />
</head>

<body>
    <div class="main">
        <h1>Se ha eliminado con éxito el usuario</h1>
    </div>
    <div class="button">
        <a class="btn" asp-controller="Usuario" asp-action="Index">Volver</a>
    </div>
</body>

</html>