@{
    ViewBag.Title = "usuarios";
    ViewBag.Css = "usuarios.css";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="~/css/usuarios.css" asp-append-version="true" />
</head>

<body>
    <div class="main container mt-4">
        <h1>Listado de usuarios</h1>
        <a class="link btn btn-light" asp-controller="Usuario" asp-action="Registrar">Crear nuevo usuario</a>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead class="text-center">
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Edad</th>
                        <th>Género</th>
                        <th>Documento</th>
                        <th>Teléfono</th>
                        <th>Correo</th>
                        <th>Libro</th>
                        <th>Fecha de préstamo</th>
                        <th>Fecha estimada de entrega</th>
                        <th>Fecha en que se entregó</th>
                        <th>Acciones</th>
                    </thead>
                    <tbody class="text-center">
                        <td>Fernando</td>
                        <td>Gómez</td>
                        <td>23</td>
                        <td>M</td>
                        <td>12344439</td>
                        <td>3024559976</td>
                        <td>fjgt2000@gmail.com</td>
                        <td>Don Quijote de la Mancha</td>
                        <td>2024-02-10</td>
                        <td>2024-03-05</td>
                        <td>Pendiente</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a asp-controller="Usuario" asp-action="Eliminar" class="btn btn-danger">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                                        <path fill="none" stroke="#ffffff" stroke-linecap="round"
                                            stroke-linejoin="round" stroke-width="2"
                                            d="M4 7h16m-10 4v6m4-6v6M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2l1-12M9 7V4a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v3" />
                                    </svg>
                                </a>
                                <a asp-controller="Usuario" asp-action="Detalles" class="btn btn-info">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                                        <g fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="2">
                                            <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0-18 0m9-3h.01" />
                                            <path d="M11 12h1v4h1" />
                                        </g>
                                    </svg>
                                </a>
                                <a asp-controller="Usuario" asp-action="Editar" class="btn btn-success">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                                        <g fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="2">
                                            <path d="M7 7H6a2 2 0 0 0-2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2-2v-1" />
                                            <path d="M20.385 6.585a2.1 2.1 0 0 0-2.97-2.97L9 12v3h3zM16 5l3 3" />
                                        </g>
                                    </svg>
                                </a>
                            </div>
                        </td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>
